/experiments/results/.ipynb_checkpoints/
/.idea/deployment.xml
/.idea/dictionaries/Eldar_Desktop.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/experiments/results/results_1.csv
/.idea/SPLM2.iml
/experiments/results/splm_mnist_hinge_1.csv
/experiments/results/splm_mnist_hinge_2.csv
/.idea/vcs.xml
*.pyc
